<br/>
<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>Bloccitoff is your solution for clean to do lists!</p>
  <p>
      
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>To Do Management</h2>
    <p>Easily keep track of your to-be-completed tasks.</p>
  </div>
  <div class="col-md-4">
    <h2>Self Destructing Lists</h2>
    <p>Fail to complete your task, and it dissapears after 7 days!</p>
  </div>
  <div class="col-md-4">
    <h2>Secure Your Schedule</h2>
    <p>Sign in to securely manage your personal task lists.</p>
  </div>
</div>