<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@item.user.avatar.tiny.url) if @item.user.avatar? %>
      submitted <%= time_ago_in_words(@item.created_at) %> ago by
      <%= @item.user.name %>
     </small>
    <%= render partial: 'item', locals: { item: @item } %>
  </div>
</div>